* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../image/artpic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}
header {
  box-sizing: border-box;
  width: 1024px;
  margin: 30px auto;
  padding-left: 57px;
  padding-right: 57px;
}
.menu {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  padding: 50px 0;
  box-sizing: border-box;
  text-align: center;
}

main {
  box-sizing: border-box;
  position: relative;
  background-color: white;
  width: 1024px;
  margin: 0 auto 130px;
  padding: 60px 57px 140px;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
}

.menu-item {
  position: relative;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  font-size: 28px;
  display: inline-block;
  color: white;
}
.about-item > a {
  font-size: 20px;
  color: #6b7488;
  display: block;
  text-decoration: none;
}
h1 {
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  font-size: 28px;
  position: relative;
  display: inline-block;
  color: white;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  color: #263555;
  font-family: "Dorsa", sans-serif;
  font-size: 60px;
  line-height: 2.3;
}

.menu-item > a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.menu-item > a:hover,
.about-item > a:hover {
  color: #263555;
}

.about:before {
  display: block;
  content: "\25B2";
  position: absolute;
  color: white;
  top: -10px;
  left: 22.5px;
}
.about {
  /* делаем невидимым .submenu */
  display: none; /* при появлении .submenu окажется поверх других элементов */
  color: #6b7488;
  position: absolute;
  left: 22.5px;
  list-style: none;
  background-color: white;
  border-radius: 5px;
  list-style: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: white;
}

/* делаем .submenu видимым */
.menu-item:hover > .about {
  display: block;
}

.plenty {
  position: absolute;
  top: 220px;
  background-color: white;
  padding: 16px 20px 16px 20px;
  color: #263555;
  font-size: 23px;
  line-height: 1.2;
  border: 1px solid #eeedeb;
}
.worth {
  position: absolute;
  top: 275px;
  background-color: #38afe5;
  padding: 16px 20px 16px 20px;
  color: #ffffff;
  font-size: 35px;
  font-weight: 100;
}
.circle {
  position: absolute;
  top: 500px;
  left: 90px;
  /*background-color: #38afe5;
  width: 90px;
  height: 90px;
  border-radius: 50%;*/
}
.right {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
}
.left {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
}
.left,
.right {
  display: inline-block;
  width: 50px;
  height: 90px;
  background-color: #38afe5;
  border: none;
  color: white;
  font-family: "Dorsa", sans-serif;
  margin: -6px;
  font-size: 20pt;
  cursor: pointer;
}

.city img,
article img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
section h2 {
  color: #263555;
  font-weight: 100;
  margin: 60px auto 48px 0;
}
.venice,
.newyork {
  margin-right: 15px;
}
.information {
  position: absolute;
  top: 0;
  width: 125px;
  height: 230px;
  background-color: #193149;
  padding: 20px 10px;
  font-family: "Arial";
  font-size: 8pt;
  color: #fff;
  text-align: justify;
  line-height: 1.5;
  opacity: 0;
}
.city article:hover > .information {
  opacity: 1;
  transition: 0.4s all;
}

.venice,
.newyork,
.paris {
  display: inline-block;
  vertical-align: top;
  width: 290px;
  height: 270px;
  position: relative;
}
.information h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 31px;
  font-weight: 100;
  line-height: 40px;
  text-align: center;
  color: #cbc6c6;
}
.information p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  line-height: 15px;
  text-transform: capitalize;
  text-align: justify;
  color: #cbc6c6;
  padding-top: 10px;
}
.details {
  position: absolute;
  text-align: center;
  right: 12px;
  bottom: 20px;
  width: 60px;
  height: 20px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  color: #000000;
  border: 1px solid #5a626f;
  background-color: white;
  cursor: pointer;
}
